.fl {
    float: left;
}

.fr {
    float: right;
}

a:hover {
    color: #ef4222;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.center {
    margin: 0 auto;
}

.clear {
    clear: both;
}